// ==========================================================================
// Title:        Forms
// ==========================================================================

// ==========================================================================
// =errors
// ==========================================================================


// ==========================================================================
// =basic
// ==========================================================================

fieldset,
.fieldset {
    padding: 15px 0 0;
    margin: 0 0 25px;
}

legend {
    padding: 5px 0 15px;
    width: 100%;
    font-size: 18px;
}

.legend {
    padding: 10px 0 0;
    margin: 0 0 15px;

    .title {
        font-size: 18px;
    }
    label {
        &:after {
            content: "";
        }
    }
}

label,
.label {
    font-weight: bold;
    display: block;
    line-height: 25px;
}

label,
.label,
h3.required {
    &.required:after {
        color: red;
        content: " *";
    }
}

.input-text {
    margin-top: 8px;
    font-weight: normal;
}

// ==========================================================================
// =layout
// ==========================================================================

.buttons {
    padding: 10px 0 10px;
    line-height: 30px;

    .btn {
        margin-left: 5px;
    }
    &.buttons-left .btn {
        margin-left: 0;
        margin-right: 5px;
    }
}

.no-label {
    padding: 25px 0 0;
    line-height: 32px;
}

.label-inline {
    label {
        display: inline;
    }
}

.label-colon {
    label:after {
        content: ":";
    }
}

.field {
    margin: 0 0 7px;

    ul {
        li {
            list-style: none;
        }
    }
}


// ==========================================================================
// =buttons
// ==========================================================================

.btn {
    margin: 0;
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    line-height: 20px;

    @include inline-block;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
   }
}

input[type="submit"],
button {
    height: 32px;
}

// FIX for Firefox and its line-height
::-moz-focus-inner {
    padding:0;
    border:0;
}

a.btn,
span.btn {
    line-height: 20px;
    height: 20px;
}

.btn-inline {
    margin-left: 5px;
}

.btn.disabled {

    &:hover {

    }
}

input[type="submit"].btn-sml,
button.btn-sml,
a.btn-sml,
span.btn-sml,
input[type="text"].sml {
    line-height: 22px;
    height: 24px;
    padding: 0 10px;
}

.btn-primary {
    @extend .btn;

}

.btn-danger {
    @extend .btn;

}

.btn-add {
    @extend .btn;

}

.btn-important {
    @extend .btn;

}


// ==========================================================================
// =inputs
// ==========================================================================

input[type="text"],
input[type="password"],
textarea {
    border: 1px solid #b6c0cd;
    line-height: 20px;
    padding: 5px 10px;
    color: #626976;
    margin: 0 5px 0 0;

    @include transition-property(box-shadow);
    @include transition-duration(800ms);
    border-radius: 3px;

    &:hover {
        border-color: gray;
    }

    &:focus {
        outline: 0;
        border-color: gray;

        box-shadow: rgba(126, 181, 234, 0.8) 0px 0px 5px 0px;
    }
    &.sys-form-error {
        border-color: #eda1a1;
    }
}

input[type="text"],
input[type="password"] {
    height: 32px;
}

input[type="text"][disabled="disabled"] ,
input[type="password"][disabled="disabled"],
textarea[disabled="disabled"] {
    border: 1px solid #CCCCCC;

    box-shadow: none;
}