// ==========================================================================
// Title:        Grid
// ==========================================================================

.gutter {
    margin-right: $gutter;
}

.gutter-sml {
    margin-right: $gutter / 2;
}

@for $i from 0 through 48 {
    .span-#{$i} {
        width: $width - ($col * $i);
    }
}

@for $i from 1 through 15 {
    .high-#{$i} {
        height: $height - ($col * $i);
    }
}

.span-full {
    width: 100%;
}