// ==========================================================================
// Title:        Variables
// ==========================================================================


// =grid
// ==========================================================================
$width: 1000px;
$gutter: 20px;
$col: 20px;
$height: 300px;


// =forms
// ==========================================================================
$input-hover-color: #a3abb5;